.container{
   position:relative;
   .headerHeading{
      font-family: "Questrial", sans-serif;
      font-weight: bold;
      text-align: center;
      margin: 28px 0 25px 0;
     text-transform: capitalize;
   }
}
.FileContainer{
  display:flex;
  flex-wrap:wrap;
  padding:2px 0px 50px 0;
  justify-content:center;
}